@model IEnumerable<XML.Models.QG>
@{
    ViewBag.Title = "Danh sách quốc gia";
    @*    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";*@
    var grid = new WebGrid(Model, canPage: true, defaultSort: "TENCLB", rowsPerPage: 5);
}

<h2 style="text-align: center">@ViewBag.Title</h2>
<div id="gridContent">
    @ViewBag.TB
    @grid.GetHtml(
        tableStyle: "table table-bordered table-hover",
        footerStyle: "grid-footer",
        fillEmptyRows: true,
        mode: WebGridPagerModes.Numeric,
        alternatingRowStyle: "alternatingRowStyle",
          columns: new[]  // colums in grid
         {
        grid.Column("STT",format: item => item.WebGrid.Rows.IndexOf(item) + 1 + Math.Round(Convert.ToDouble(grid.TotalRowCount / grid.PageCount) / grid.RowsPerPage) * grid.RowsPerPage * grid.PageIndex),
        grid.Column("MAQG","Mã quốc gia"), //the model fields to display
        grid.Column("TEQG","Tên quốc gia"  ),
        grid.Column("Chức năng", format: @<text>
    <a href="@Url.Action("Edit",
                            new { id = item.MAQG})" class="edit-btn"><abbr title="Cập nhật dữ liệu"><img src="/images/edit.png" width="20" height="20" /></abbr></a>
    <a href="@Url.Action("Details",
                            new { id = item.MAQG})" class="edit-btn"><abbr title="Xem chi tiết"><img src="/images/details.png" width="20" height="20" /></abbr></a>
    <a href="@Url.Action("Delete",
                            new { id = item.MAQG})" class="edit-btn">
        <abbr title="Xóa dữ liệu">
            <img src="/images/delete.png" width="20" height="20" />
        </abbr>
    </a>
        </text>),

}
)
</div>

