@model IEnumerable<XML.Models.SAN>
@{
    ViewBag.Title = "Index";
}


<h2>Index</h2>

@Html.ActionLink("them", "Create", "San")

<table border="1">
    <tr>
        <th>Mã Sân</th>
        <th>Tên Sân</th>
        <th>Địa Chỉ</th>
        <th>tinh nag</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.MASAN
            </td>
            <td>
                @item.TENSAN
            </td>
            <td>
                @item.DIACHI
            </td>
            <td>
                @Html.ActionLink("Sửa", "Edit", "San", new { id = item.MASAN }, "")
                @Html.ActionLink("Xoa", "Delete", "San", new { id = item.MASAN }, "")
            </td>
        </tr>
    }

</table>

